.container {
    display: flex;
    justify-content: space-between;
}

.container button {
    background: var(--color-button);
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.container button:disabled {
    cursor: not-allowed;
}