.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_container img {
  border-radius: 50%;
  width: 40px;
}

/* Regular options */
.options_menu {
  gap: 10px;
  display: flex;
  list-style: none;
}

.mobile_options_menu {
  list-style: none;
  display: none;
  position: absolute;
  width: 100%;
  top: 90px;
  background: var(--primary-color);
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.auth_menu {
  display: flex;
  list-style: none;
  gap: 10px;
}

.auth_button {
  color: var(--secondary-color);
}

.auth_button a,
.auth_button button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 8px;
  background: var(--color-button);
}

.auth_button button {
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
}

.menu_hamburguer {
  display: none;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .menu_hamburguer {
    display: block;
  }
  .options_menu {
    display: none;
  }
  .mobile_options_menu {
    display: flex;
  }
}
